.body-edit-registration
  .container-profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html:  { multipart: true }) do |f|
      = bootstrap_devise_error_messages!
      .container-edit
        .wrapper-avatar-info
          .row
            .col-md-6.col-12
              .container-avatar
                - if current_user.avatar.url.present?
                  = image_tag(current_user.avatar.url, class: 'img-thumbnail')
                  = f.label :remove_avatar do
                    = f.check_box :remove_avatar, title: 'Check to delete'
                    -#=f.label 'avatar', value: 'Check to delete'
                - else
                  = f.file_field :avatar
                  = f.hidden_field :avatar_cache
            .col-md-6.col-12
              .container-info-profile
                .form-group
                  .row
                    .col-md-8
                      =f.label 'Images upload', class: 'form-control form-label badge-secondary'
                    .col-md-4
                      =f.label 'Images', value: @count_images, class: 'form-control badge-primary'
                .form-group
                  .row
                    .col-md-8
                      =f.label 'Follows category', class: 'form-control form-label badge-secondary'
                    .col-md-4
                      =f.label 'Categories', value: @count_follows_categories, class: 'form-control badge-primary'
                .form-group
                  .row
                    .col-md-8
                      =f.label 'Created category', class: 'form-control form-label badge-secondary'
                    .col-md-4
                      =f.label 'Categories', value: @count_categories, class: 'form-control badge-primary'
        .row
          .container-edit-form
            .form-row
              .col-md-4.mb-3
                = f.label t('form.email'), class: 'badge badge-secondary'
                .input-group
                  .input-group-prepend
                    %span.input-group-text @
                  = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
              .col-md-4.mb-3
                .form-group
                  = f.label t('form.first name'), class: 'badge badge-secondary'
                  = f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'form-control'
              .col-md-4.mb-3
                = f.label t('form.last name'), class: 'badge badge-secondary'
                = f.text_field :last_name, autofocus: true, autocomplete: 'last_name', class: 'form-control'
            .form-row
              .col-md-6.mb-3
                = f.label t('registrations.edit.phone'), class: 'badge badge-secondary'
                = f.telephone_field :phone, autofocus: true, autocomplete: 'phone', class: 'form-control'
              .col-md-3.mb-3
                = f.label t('registrations.edit.date of birthday'), class: 'badge badge-secondary'
                = f.date_field :date_of_birthday, autofocus: true, autocomplete: 'date_of_birthday', class: 'form-control'
              .col-md-3.mb-3
                = f.label t('registrations.edit.location'), class: 'badge badge-secondary'
                = f.text_field :location, autofocus: true, autocomplete: 'location', class: 'form-control'
            .form-group
              = f.label t('form.password'), class: 'badge badge-secondary'
              = f.text_field :password, autocomplete: 'off', class: 'form-control'
              %small.form-text.text-primary= t('registrations.edit.leave_blank_if_no_change')
            .form-group
              = f.label t('registrations.edit.password confirmation'), class: 'badge badge-secondary'
              = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control form-devise'
              %small.form-text.text-primary= t('registrations.edit.leave_blank_if_no_change')
            .form-group
              = f.label t('registrations.edit.current password'), class: 'badge badge-secondary'
              = f.password_field :current_password, autocomplete: 'current-password', class: 'form-control form-devise'
              %small.form-text.text-primary= t('registrations.edit.we_need_password_to_confirm')
            .form-group
              = f.submit t('registrations.edit.update'), class: 'btn btn-primary'
            %p
              = f.label t('registrations.edit.unhappy'), class: 'badge badge-secondary'
              #{link_to t('registrations.edit.delete account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete}.
            -#= link_to t('.back'), :back


