<%= form_for :comment, url: comments_path,method: :post do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <%= form.hidden_field :image_id, value: params[:image_id] %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>