.toppp
  %ul.nav.nav-pills
    %li.nav-item
      = link_to('Home', welcome_index_path)
    -#%li.dropdown
    -#  %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
    -#    The dropdown item
    -#    %b.caret
    -#  %ul.dropdown-menu{"role" => "menu"}
    -#    %li
    -#      %a{:href => "#link1"}
    -#        Dropdown #1
    -#      %a{:href => "#link2"}
    -#        Dropdown #2
    -#      %a{:href => "#link3"}
    -#        Dropdown #3
    -#      %a{:href => "#link4"}
    -#        Dropdown #4
    %li.nav-item
      - if user_signed_in?
        = link_to('Logout', destroy_user_session_path, method: :delete)
      - else
        = link_to('Login', new_user_session_url)
    %li.nav-item
      = link_to('Categories', categories_path, class: 'dropdown-item')
      -#%span.caret
    %ul.dropdown-menu
      %li
        %a{href: "#"} Page 1-1
      %li
        %a{href: "#"} Page 1-2
      %li
        %a{href: "#"} Page 1-3
    %li.nav-item
      = link_to('Images', images_index_path)
    -if(current_user)
      %li.nav-item
        = link_to('Profile', edit_user_registration_path)
)