.toppp
  %h1 Welcome to gallery
  %ul.nav.nav-pills
    %li.nav-item
      = link_to('Home', welcome_index_path)
    %li.nav-item
      - if user_signed_in?
        = link_to('Logout', destroy_user_session_path, method: :delete)
      - else
        = link_to('Login', new_user_session_url)
    %li.nav-item
      = link_to('Categories', categories_path)
    %li.nav-item
      = link_to('Profile', profiles_path)
.container
  / Photo Grid
  .row
    .column
      = image_tag('p1.jpg', width: '100%' )
      = image_tag('p2.jpg', width: '100%' )
      = image_tag('p3.jpeg', width: '100%' )
      = image_tag('p4.jpg', width: '100%' )
      = image_tag('p5.jpeg', width: '100%' )
      = image_tag('p6.jpeg', width: '100%' )
      = image_tag('p7.jpeg', width: '100%' )
      = image_tag('p8.jpeg', width: '100%' )
    .column
      = image_tag('p3.jpeg', width: '100%' )
      = image_tag('p4.jpg', width: '100%' )
      = image_tag('p5.jpeg', width: '100%' )
      = image_tag('p6.jpeg', width: '100%' )
      = image_tag('p7.jpeg', width: '100%' )
      = image_tag('p8.jpeg', width: '100%' )
    .column
      = image_tag('p1.jpg', width: '100%' )
      = image_tag('p2.jpg', width: '100%' )
      = image_tag('p3.jpeg', width: '100%' )
      = image_tag('p4.jpg', width: '100%' )
      = image_tag('p5.jpeg', width: '100%' )
      = image_tag('p6.jpeg', width: '100%' )
      = image_tag('p7.jpeg', width: '100%' )
    .column
      = image_tag('p1.jpg', width: '100%' )
      = image_tag('p2.jpg', width: '100%' )
      = image_tag('p3.jpeg', width: '100%' )
      = image_tag('p4.jpg', width: '100%' )
      = image_tag('p5.jpeg', width: '100%' )
      = image_tag('p6.jpeg', width: '100%' )
/ <div class="table">
/ </div>
