.page-log-in
  .container-log-in
    .signin-html
      .log-in-action
        %h1= t('sessions.sign in')
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label t('form.email')
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
        .form-group
          = f.label t('form.password')
          = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
        - if devise_mapping.rememberable?
          .form-group.form-check
            = f.check_box :remember_me, class: 'form-check-input'
            = f.label t('sessions.remember me'), class: 'form-check-label' do
              = resource.class.human_attribute_name(t('sessions.remember me'))
            - if User.find_by_email(resource.email)
              - if User.find_by_email(resource.email).failed_attempts > User.logins_before_captcha
                = recaptcha_tags
        .form-group
          -#= flash[:recaptcha_error]
          -#= recaptcha_tags
          = f.submit  t('form.sign in'), class: 'btn btn-primary'
        -#= link_to t('sessions.home'), welcome_index_path
      = render 'devise/shared/links'
