.body-categories
  .category-form
    =render 'categories/form'
  - @categories.each do |category|
    .container-category
      .category-image
        -if(category.main_image)
          = link_to image_tag(category.main_image, size: '360x320'), category_path(category)
        -else
          = link_to image_tag('category-no-image.png', size: '360x320'), category_path(category)
      .container-actions
        = link_to image_tag('edit.png', class: 'action-icon', title: 'Edit'), edit_category_path(category), remote: true
        = link_to image_tag('delete.png', class: 'action-icon', title: 'Delete'), category, method: :delete
        - if category.is_follow(current_user.id)
          = link_to image_tag('unfollow.png', class: 'action-icon', title: 'Unfollow'), delete_follower_category_path(category), method: :delete
        - else
          = link_to image_tag('follow.png', class: 'action-icon', title: 'Follow'), new_follower_category_path(category), method: :post
      .name-category
        %h1.centered
          = link_to category.name, category_path(category)
  = paginate @categories

-#%button{ 'id'=>'button_category', 'data-target' => '#categories_modal', 'data-toggle' => 'modal' }
-#  = image_tag('new_category.png', width: "200", height: "200")
-#%br/

-#= link_to 'New Category', new_category_path
-#= link_to 'Home', welcome_index_path

-#= render 'layouts/modal', modal_id: 'categories_modal' do
-#  = render 'categories/edit'

#category-edit